nav{
    font-family:'Cascadia Code', 'Pro Font', 'Lucida Console';
    border-bottom: 1px solid rgb(175, 63, 175);
}
.heading{
    font-family:'Cascadia Code', 'Pro Font', 'Lucida Console';
    border-bottom: 1px solid rgb(175, 63, 175);
    background-color: rgba(216, 167, 219, 0.549);
}


footer{
    font-family:'Cascadia Code', 'Pro Font', 'Lucida Console';
    border-top: 1px solid rgb(175, 63, 175);
}
