nav{
    font-family:'Cascadia Code', 'Pro Font', 'Lucida Console';
    border-bottom: 2px solid rgb(175, 63, 175);
}


footer{
    font-family:'Cascadia Code', 'Pro Font', 'Lucida Console';
    border-top: 2px solid rgb(175, 63, 175);
}