body{
    background-color: rgb(255, 227, 232);
    font-family: 'Century Gothic', 'Arial Narrow', Arial, sans-serif;
    color: rgb(41, 41, 41);
}
main {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#ghost{
    height: 150px;
    width: 150px;
}


