/* Created by Oceanna Hartog; 000940535 on June 16, 2024 */

body{
    background-color: rgb(244, 197, 213);}

h2, h4 {
    font-family: "Century Gothic";}

.accordion-item {
    background-color: rgb(255, 221, 233);
}


