/** Author: Oceanna Hartog; Student Number: 000940535
Created on 2024/05/24

This is the css style sheet for the index and page 2 of assignment 1.
Name: assign1.css

**/



body {
    margin: 2em;
    background-color: lavender;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

 /** HEADER **/
header {
    background-color: rgb(255, 151, 203);
    margin-bottom: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(231, 231, 245);
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 50px;
 }



 /** Animation in HEADER**/
.circle {
    display: block;
    height: 30px;
    width: 30px;
    position: relative;
    border-style: double;
    border-width: 5px;
    border-color: rgb(173, 135, 234);
    border-radius: 50px;
    background-color: papayawhip;
    animation-name: circleslide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); 
}

@keyframes circleslide {
    0% {left:0px; top:0px;background-color:lavender; border-color: rgb(194, 141, 255); border-radius: 30%;}
    25% {left:85%; top:0px;background-color:pink; border-color: lavender; border-radius: 30%;}
    50% {left:85%; top:50px; background-color:rgb(194, 141, 255); border-color: pink; border-radius: 50%;}
    75% {left:0%; top:50px; background-color:pink; border-color: lavender; border-radius: 30%;}
    100% {left:0px; top:0px;background-color:lavender; border-color: rgb(194, 141, 255); border-radius: 50%;}

}



/** NAV BAR **/
nav li {
    display: inline;

}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    border: 1px solid rgb(255, 151, 203);
    border-radius: 15px;
    background-image: url(images/pink-texture.jpg);
    margin: 20px;
    color: mediumvioletred;
}

nav a:hover {
    animation-name: floatingbox;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#greybutton:hover {
    background-image: none;
    background-color: lightgrey;
    color: slategray;
    border: 1px solid slategray;
}

/**Animation ins NAV BAR**/
@keyframes floatingbox {
    0% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}


 /** MAIN **/
main {
     margin: 30px;
     border-top: maroon;
 }
main img {
      height: 500px;
      width: 400px;
      margin: 20px;

 }
 main p {
    padding: 15px;

 }
.story {
    margin: 20px;
    background-color: papayawhip;
    border: 2px solid black;
}
.story h4 {
text-align: center;

}


    /** FOOTER **/ 
footer {
    background-image: url(images/pink-texture.jpg);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 15px;
    color: rgb(121, 54, 88);
}
